body {
    background-color: rgb(197, 197, 197);
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

button {
    padding: 5px;
    background-color: rgb(255, 209, 83);;
    margin: 5px !important;
    border: rgb(255, 209, 83);
    color: black;
    border-style: solid;
    border-radius: 8px;
}

nav {
    background-color: rgb(90, 90, 89);
    color: rgb(255, 209, 83);
    padding: 5px;
    position: relative;
    z-index: 2;
}


.btn-grid {
    display: grid;
    padding-bottom: 50px;
}

h2 {
    margin-top: 20px;
    padding: 10px;
    color: rgb(255, 209, 83);
}

h3 {
    color: rgb(255, 209, 83);
}

.card {
    
    margin-right: auto;
    margin: 30px;
    float: left;
}

.homepageJT {
    color: rgb(0, 0, 0);
    background-image: url(Imgs/restaurant_header.jpg);
    margin-bottom: 0px !important;
    opacity: 70%;
    display: block;
    position: relative;
    z-index: 2;
}

.resultsJT {
    color: rgb(110, 108, 103);
    background-image: url(Imgs/qs2-1.jpg);
    margin-bottom: 0px !important;
    display: block;
    position: relative;
    z-index: 3;
}

.row {
    background-color: rgb(197, 197, 197);
}

.background {
    background-color: rgb(197, 197, 197);
    height: 100%;
}

.footer {
    background-color: rgb(90, 90, 89);
    color: rgb(255, 209, 83);
    position: relative;
    z-index: 2;
}
.blue {
    background-color: rgb(90, 90, 89);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0%;
    margin-bottom: 50px;
    margin-top: 45px;
    z-index: 2;
}

.contained {
    background-color: rgb(90, 90, 89);
    margin-top: 50px;
    margin-bottom: 0;
    z-index: 2;
}

.contained-results {
    background-color: rgb(90, 90, 89);
    margin-bottom: 50px;
    margin-top: 0;
    z-index: 2;
}

.hide {
    display: none;
}

.show {
    display: inline;
}

.hide2 {
    display: none;
}

.show2 {
    display: inline;
}


.show-more {
    margin-left: auto;
    margin-right: auto;
}

.relative {
    position: relative;
    z-index: 2;
}

